@import 'tailwindcss';
:root {
  --main-color: #be4b4b;
  --main-color-link: #243137;
  --shadow-header: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  --main-color-link: #243137;
  --padding-section: 1rem;
  --main-color: #be4b4b;
  --shadow-header: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

@theme {
  --color-input-bg: #fff;
  --color-input-prefix: #666;
  --font-sans: Inter Variable, sans-serif;
  --color-main: #be4b4b;
  --color-background: oklch(92.8% 0.006 264.531);
  --glif: 1vw + 1.2em;
  --radius-form-b: xl;
  --color-border-default: gray;
  --color-generate-code-bg: gray;
  --container-padding: 1rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0;   */
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: clamp(10px, 1vw + 1rem, 14px);
  /* font-size: 14px; */
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  /* overflow: hidden; */
}

.index-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
  grid-row-gap: 1rem;
  height: 100vh;
  overflow: hidden;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: lightgray;
    box-shadow: var(--shadow-header);
  }
  .main {
    overflow: hidden;
  }
  .footer {
    width: 100%;
    height: max-content;
    position: relative;
    bottom: 0;
    background-color: lightgray;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}
/* .metric-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
  gap: 1rem;

  .metric-item {
    display: flex;
    background-color: lightgrey;
    width: max-content;
    border-radius: 12px;
    padding: 1rem;
    font-size: small;
  }
}

.item-remove {
  transform: translate(-100vh);
  transition: 3s;
} */

/* @keyframes sticky-parallax-header-move-and-size {
  from {
    background-position: 30% 0;
    height: 10vh;
    font-size: calc(1vw + 1.2em);
  }
  to {
    background-position: 50% 100%;
    height: 10vh;
    font-size: 1.8em;
  }
} */

/* #sticky-parallax-header {
  position: fixed;
  top: 0;

  animation: sticky-parallax-header-move-and-size linear forwards;
  animation-timeline: scroll();
  animation-range: 0vh 90vh;
} */
.field-form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.form-shadow {
  box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2);
}
.padding-headers-input {
  padding-block: calc(var(--spacing) * 2.5);
}
.padding-tabs {
  padding-block: calc(var(--spacing) * 2.5);
}

.active-link {
  color: var(--color-main);
  font-weight: 600;
}

.section-welcome {
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* Loader */
.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
  position: absolute;
  top: 0;
  content: '';
}

.jimu-primary-loading:before {
  left: -19.992px;
}

.jimu-primary-loading:after {
  left: 19.992px;
  -webkit-animation-delay: 0.32s !important;
  animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
  background: var(--color-main);
  -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  width: 13.6px;
  height: 32px;
}

.jimu-primary-loading {
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  right: calc(50% - 6.8px);
  top: calc(50% - 16px);
  -webkit-animation-delay: 0.16s !important;
  animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {
  0%,
  80%,
  100% {
    opacity: 0.75;
    box-shadow: 0 0 var(--color-main);
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px var(--color-main);
    height: 40px;
  }
}

@keyframes loading-keys-app-loading {
  0%,
  80%,
  100% {
    opacity: 0.75;
    box-shadow: 0 0 var(--color-main);
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px var(--color-main);
    height: 40px;
  }
}

#link {
  color: var(--main-color-link);
  width: max-content;
  font-size: x-large;
  border-bottom: 1px solid var(--main-color);
}
.history-page {
  overflow: hidden;
  border-radius: 12px;
  .metric-list {
    background-color: lightgrey;
    overflow-y: auto;
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .metric-item {
      width: max-content;
      border-radius: 12px;
      padding: 1rem;
      background-color: whitesmoke;
      display: flex;

      .content-container{
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .item-field {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          gap: 0.5rem;
          .key {
            font-weight: bold;
          }
          .value{
            font-weight: bold;
            color: grey;
          }
          .url{
            color: rgb(2, 58, 77);
            border-bottom: #243137 1px solid;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.item-remove{
  transform:  translate(-100vh);
  transition: 3s ;
}